h1{
  color: white;
 font-size: large;
 font-family: Arial, Helvetica, sans-serif
 ;
}
body {
  background-image: url(https://thumbs.gfycat.com/AnchoredLiquidDotterel-max-1mb.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
